<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/awaazstyle.css" />
</head>
<body>
<h align="center" style="background-color :	#E0EAFB; border-radius:5px;width:220px;padding:2px;box-shadow: 5px 5px 5px #888888;">हमें लिखें </h>
	{% if errors %}
		<ul> {% for error in errors %}
			<li> {{ error }} </li>
              {% endfor %}
        </ul>
	{% endif %}
	
	<form action="/awaaz/yourvoice/form/" method="POST">	
	{% csrf_token %}
	{{ form.non_field_errors }}
	<br><br>
    <div class="fieldWrapper">
        {{ form.sender.errors }}
        <label for="id_sender"><h style="background-color:white"> आपका नाम </h><br></label>
       {{ form.sender }}
		<br>
    </div>
    <div class="fieldWrapper">
        {{ form.subject.errors }}
        <label for="id_subject"><h style="background-color:white"> विषय </h><br></label>
         &nbsp;{{ form.subject }}
				<br>
    </div>

	<div class="fieldWrapper">
        {{ form.message.errors }}
        <label for="id_message"><h style="background-color:white"> आपका सन्देश</h><br></label>
         &nbsp;{{ form.message }}
		<br>
    </div>
		<input type="submit" value="Submit">
	</form>
</body>
</html>
