{% extends "base_site.html" %}
{% block content %}
<br>
<br>
<table  cellspacing="70">
<tr>
  <td align="center"><a href="/awaaz/gymkhana/about">परिचय</a></td>
  <td align="center" style="background-color :	#E0EAFB; border-radius:5px;width:120px;padding:2px;box-shadow: 4px 4px 4px #888888;"><a href="/awaaz/gymkhana/calender" >कैलेंडर</a></td>
  <td align="center"><a href="/awaaz/gymkhana/contact">हमें लिखें</a></td>
  <td align="center"><a href="/awaaz/gymkhana/postbearers">पदाधिकारी</a></td>
</tr>
</table>
<iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=q2uprgonkmpv0ncfn63qecqo8s%40group.calendar.google.com&amp;color=%23691426&amp;ctz=Asia%2FCalcutta" style=" border-width:0 " width="700" height="600" frameborder="0" scrolling="no"></iframe>
{% endblock %}
