{% extends "awaaz/gym.html" %}
{% block gym_content %}

<div class="expand"> 
<h>  प्रेसिडेंट</h>
<p>  प्रोफ.मनीष भट्टाचार्जी
<br>     ईमेल : mxb@chem.iitkgp.ernet.in
</p>
<img src="{{ STATIC_URL }}img/president.jpg" width="150" height="150" align="top" style="padding:5px" />
</div> 
<br>
<div class="expand"> 
<h>स्पोर्ट्स ऑफिसर</h>
<p> स.चौधरी
<br>ईमेल : sabyasachi@hijli.iitkgp.ernet.in</p>
</div>
<br>
<div class="expand"> 
<h> वाइस प्रेसिडेंट</h>
<p> प्रतीक अगरवाल
<br> ईमेल : prateek.agwl@gmail.com<br>
          vptsg@iitkgp.ernet.in
<br>
 मोबाइल नो. : 91-9775551237</p>
</div>
<br>
<br>
<div class="expand"> 
<h> स्नातक प्रतिनिधि</h>
<p> अक्षत वर्मा
<br>ईमेल : akshat16@gmail.com<br>
<br>
  मोबाइल नो. : 919735321065</p>
</div>
<br>
<br>
<div class="expand"> 
<h> अनुसन्धान शैक्षणिक प्रतिनिधि </h>
<p>अभिमन्यु कर
<br>ईमेल : abhuimanyukar.mech@gmail.com<br>
<br>
  मोबाइल नो. :  91-9231832696</p>
</div>
<br>
<br>
<div class="expand"> 
<h> महा  सचिव - सामाजिक एवं सांस्कृतिक  </h>
<p> श्रेयस महाजन
<br> ईमेल : shreyasm.iitkgp@gmail.com<br>
<br>
   मोबाइल नो. : 91-9691819500</p>
<br>
<h> शशांक सिंघल</h>
 <br>ईमेल : shashanksinghal.iitkgp@gmail.com
</div>
<br>
<br>
<div class="expand"> 
<h> महा  सचिव  -स्पोर्ट्स </h>
<p> अभिषेक नागी
<br> ईमेल : abhishekneg@gmail.com<br>
<br>
  मोबाइल नो. : 91-735549718</p>
<br>
<h>प्रत्यक्ष पाठक </h>
 <br> ईमेल :  pratyakspathak@gmail.com
</div>
<br>
<br>
<div class="expand"> 
<h> महा सचिव - तकनीक  </h>
<p>सायंतन सर्कार
<br> ईमेल : sayantan.sarkar1028@gmail.com<br>
<br>
    मोबाइल नो. : 91-9800043268</p>
<br>
<h>शशि प्रकाश</h>
 <br> ईमेल : shashi1192@gmail.com
 <br>
  मोबाइल नो. : 91-8101433156
</div>
<br>
<br>
<div class="expand"> 
<h> जन संपर्क आधिकारी  </h>
<p>सग्निक चक्रबर्ती 
<br> ईमेल : chakrabortysagnik02@gmail.com<br>
<br>
 मोबाइल नो. :91-8016949492</p>
<br>
<h>शशि प्रकाश</h>
 <br> ईमेल : shashi1192@gmail.com
 <br>
  मोबाइल नो. : 91-8101433156
</div>
<br>
{% endblock %}
