{% extends "base_site.html" %}
{% block content %}
<p>
<br><br><br>
आवाज़ आई. आई. टी. खड़गपुर के परिसर का हिंदी मासिक समाचार पत्र है जो लगभग १०००० छात्रों ,प्राध्यापकों तथा एक विस्तृत भूतपूर्व छात्रों के संजाल तक पहुचता है | संस्थान के राजभाषा विभाग द्वारा मान्यता प्राप्त यह समाचार पत्र नवीनतम घटनाओं,गहन समाचारों तथा जनहित के मुद्दों पर बहस को सबके समक्ष प्रस्तुत करता है | पिछले चार वर्षों से आवाज़ इस परिसर के सभी उतार-चढ़ाव का ऐतिहासिक गवाह रहता आया है | यह एक ऐसा मंच है जिसकी मदद से यहाँ के छात्र अपने मुद्दों एवं शिकायतों को व्यक्त करते हैं | हम निरंतर छात्रों के हित के लिए परिवर्तन का साधन रहे हैं |                                                                                                                                            <br><br><br>
व्यापक कार्यक्षेत्र तथा पाठकों की इतनी बड़ी संख्या,परिसर में हमारी गहरी समझ को दर्शाता है | आवाज़ के माध्यम से किसी भी ब्रांड को हमारे छात्रों, संकाय तथा भूतपूर्व छात्रों के बीच अधिकतम प्रत्यक्षता मिलती है और समाज के अग्रणी वर्ग के समक्ष अपनी विशेषताओं को प्रदर्शित करने का अवसर मिलता है | एक लम्बे समय तक जुडाव (वेब स्पेस प्रायोजन, प्रिंट प्रायोजन आदि के रूप में ), ब्रांड को परिसर में अपनी छवि अच्छी प्रकार स्थापित करने में मदद करता है | हमारे समाचार पत्र के सभी संस्करणों (ऑनलाइन संस्करण सहित ) में ब्रांड को विशेष रूप से प्रदर्शित किया जाता है | आई. आई. टी. परिसर में करीब ९००० छात्र तथा २००० शिक्षण स्टाफ रहते हैं | इसलिए आवाज़ के माध्यम से किसी भी ब्रांड को आई. आई. टी. खड़गपुर से जुड़ने का काफी लाभ होगा | हम आपको न्यूनतम खर्च के साथ जनता तक पहुचने के लिए विज्ञापन-नीतियों का बहुतायत प्रदान करेंगे |
<br><br><br>
इस उत्कृष्ट कदम का उद्देश्य समाज में हमारी जड़ें मजबूत करना तथा आने वाले वर्षों में भरपूर उत्साह और जोश के साथ समाज में बदलाव के साधन के रूप में सेवारत रहना है | आवाज़ आपके ब्रांड को यहाँ के व्यापक विभिन्न वर्गों,छात्रों,प्राध्यापकों तथा पूर्व छात्रों के विस्तृत नेटवर्क से एक अच्छा संपर्क स्थापित करने का वादा करता है | यदि आप आवाज़ के साथ किसी भी प्रकार से जुड़ने में रूचि रखते हैं तो उपयुक्त व्यक्तियों से संपर्क करें -
<br><br><br>
प्रायोजन प्रमुख :<br><br>
<table width="100%">
<tr>
<td align="left">
<p>मधुसुदन      <br>इ मेल :    madhusudaniitkgp@gmail.com <br>
फोन   :   +919614885986   
<br></p></td>
<td align="left" >
<p> सीमान्त उज्जैन <br>
 इ मेल : ujjainrox@gmail.com     <br>
  फोन   : +919775194696<br>
</p></td>
</tr>
</table>


</p>
{% endblock %}
