{% extends "photologue/root.html" %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}

<h1 style="color:#CD5C5C">{{ object.title }}</h1>
<h2  style="color:#CD5C5C">Originally published {{ object.date_added|date:"l, F jS, Y" }}</h2>
{% if object.description %}<p>{{ object.description }}</p>{% endif %}
<div class="photo-gallery">
    {% for photo in object.public %}
    <div class="gallery-photo" style="float:left;padding:10px;" style="border:10px;border-color:black" >
        <a href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_thumbnail_url }}"alt="{{ photo.title }}" border="2" /></a>
    </div>
    {% endfor %}
</div>
{% endblock %}
