<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/awaazstyle.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/jCarouselLite.js" type="text/javascript"></script>

<script type="text/javascript">  
    $(function() {  
    $(".newsticker-jcarousellite").jCarouselLite({  
            vertical: true,  
            visible: 3,  
            auto:1000,  
            speed:2000  
        });  
    });  
    </script> 
<!-- include Cycle plugin -->
<script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.2.74.js"></script>

<!--  initialize the slideshow when the DOM is ready -->
<script type="text/javascript">
$(document).ready(function() {
    $('.slideshow').cycle({
		fx: 'scrollRight' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
	});
});
</script>   
</head>
<body>
<div id="wrapper">
<div id="header">
	<table width="510" align="left" style="border-collapse: collapse"><tr height="30"></tr><tr height="30"><td width="20"></td> <td width="120" align="center" ><a href="/"> मुख्य पृष्ठ  </a></td><td width="120" align="center"> <a href="/awaaz/news/all">खबरें </a></td><td width="120" align="center"> <a href="/awaaz/yourvoice/">आपकी आवाज़</a></td><td width="120" align="center"> <a href="/awaaz/sponsors/">प्रायोजक</a></td></tr> <tr height="30"><td width="20"><td align="center" style="background-color :	#E0EAFB; border-radius:5px;width:120px;padding:2px;box-shadow: 4px 4px 4px #888888;"><a href="/awaaz/gymkhana/about">जिमखाना</a></td><td width="120" align="center"> <a href="/awaaz/issues/">प्रकाशन</a></td><td width="120" align="center"> <a href="/awaaz/about/">परिचय</a> </td><td width="120" align="center"><a href="/awaaz/contact/">हमें लिखें</a> </td></tr> </table>
</div>
<div id="main">
<div id="content">
<br>
<br>
<table  cellspacing="70">
<tr>
  <td align="center"><a href="/awaaz/gymkhana/about">हमारे बारे में</a></td>
  <td align="center"><a href="/awaaz/gymkhana/calendar">केलेंडर</a></td>
  <td align="center" style="background-color :	#E0EAFB; border-radius:5px;width:120px;padding:2px;box-shadow: 4px 4px 4px #888888;"><a href="/awaaz/gymkhana/contact">हमें लिखें</a></td>
  <td align="center"><a href="/awaaz/gymkhana/postbearers">पदाधिकारी</a></td>
</tr>
</table>
<h align="center" style="background-color :	#E0EAFB; border-radius:5px;width:220px;padding:2px;box-shadow: 5px 5px 5px #888888;">हमें लिखें</h>
	{% if errors %}
		<ul> {% for error in errors %}
			<li> {{ error }} </li>
              {% endfor %}
        </ul>
	{% endif %}
	
	<form action="/awaaz/gymkhana/contact/" method="POST">	
	{% csrf_token %}
	{{ form.non_field_errors }}
	<br><br>
    <div class="fieldWrapper">
        {{ form.sender.errors }}
        <label for="id_sender"><h style="background-color:white">आपका नाम </h><br></label>
       {{ form.sender }}
		<br><br><br>
    </div>
    <div class="fieldWrapper">
        {{ form.subject.errors }}
        <label for="id_subject"><h style="background-color:white">विषय </h><br></label>
         &nbsp;{{ form.subject }}
				<br><br><br>
    </div>

	<div class="fieldWrapper">
        {{ form.message.errors }}
        <label for="id_message"><h style="background-color:white"> आपका सन्देश</h><br></label>
         &nbsp;{{ form.message }}
		<br><br><br>
    </div>
		<input type="submit" value="Submit">
	</form>
</div>
{% include "awaaz/side.html" %}
