<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/awaazstyle.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/jCarouselLite.js" type="text/javascript"></script>
	
<script type="text/javascript">  
    $(function() {  
    $(".newsticker-jcarousellite").jCarouselLite({  
            vertical: true,  
            visible: 3,  
            auto:1000,  
            speed:2000  
        });  
    });  
    </script> 
<!-- include Cycle plugin -->
<script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.2.74.js"></script>

<!--  initialize the slideshow when the DOM is ready -->
<script type="text/javascript">
$(document).ready(function() {
    $('.slideshow').cycle({
		fx: 'scrollRight' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
	});
});
</script>

<script src="{{ STATIC_URL }}js/jquery.divgrow-1.3.2.js" type="text/javascript"></script> 

<script type="text/javascript">
 $().ready(function() {
    $('div.expand').divgrow({ initialHeight: 30,showBrackets:false,moreText:"+",lessText:"-"});
    });
    </script>
</head>
<body>
<div id="wrapper">
<div id="header"><table width="510" align="left" style="border-collapse: collapse"><tr height="30"></tr><tr height="30"><td width="20"></td> <td width="120" align="center" ><a href="/">मुख्य पृष्ठ </a></td><td width="120" align="center"> <a href="/awaaz/news/all">खबरें </a></td><td width="120" align="center"> <a href="/awaaz/yourvoice/">आपकी आवाज़</a></td><td width="120" align="center"> <a href="/awaaz/sponsors/">प्रायोजक</a></td></tr> <tr height="30"><td width="20"><td align="center" style="background-color :	#E0EAFB; border-radius:5px;width:120px;padding:2px;box-shadow: 4px 4px 4px #888888;"><a href="/awaaz/gymkhana/about">जिमखाना</a></td><td width="120" align="center"> <a href="/awaaz/issues/">प्रकाशन</a></td><td width="120" align="center"> <a href="/awaaz/about/">परिचय</a> </td><td width="120" align="center"><a href="/awaaz/contact/">हमें लिखें</a> </td></tr> </table>
</div>
<div id="main">
<div id="content">
<br>
<br>
<table  cellspacing="70">
<tr>
  <td align="center"><a href="/awaaz/gymkhana/about">हमारे बारे में</a></td>
  <td align="center"><a href="/awaaz/gymkhana/calendar">केलेंडर</a></td>
  <td align="center"><a href="/awaaz/gymkhana/contact">हमें लिखें</a></td>
  <td align="center"  style="background-color :	#E0EAFB; border-radius:5px;width:120px;padding:2px;box-shadow: 4px 4px 4px #888888;"><a href="/awaaz/gymkhana/postbearers">पदाधिकारी</a></td>
</tr>
</table>
<div class="expand"> 
<h>  प्रेसिडेंट</h>
<p>  प्रोफ.मनीष भट्टाचार्जी
<br>     ईमेल : mxb@chem.iitkgp.ernet.in
</p>
<img src="{{ STATIC_URL }}img/president.jpg" width="150" height="150" align="top" style="padding:5px" />
</div> 
<br>
<div class="expand"> 
<h>स्पोर्ट्स ऑफिसर</h>
<p> स.चौधरी
<br>ईमेल : sabyasachi@hijli.iitkgp.ernet.in</p>
</div>
<br>
<div class="expand"> 
<h> वाइस प्रेसिडेंट</h>
<p> प्रतीक अगरवाल
<br> ईमेल : prateek.agwl@gmail.com<br>
          vptsg@iitkgp.ernet.in
<br>
 मोबाइल नो. : 91-9775551237</p>
</div>
<br>
<br>
<div class="expand"> 
<h> स्नातक प्रतिनिधि</h>
<p> अक्षत वर्मा
<br>ईमेल : akshat16@gmail.com<br>
<br>
  मोबाइल नो. : 919735321065</p>
</div>
<br>
<br>
<div class="expand"> 
<h> अनुसन्धान शैक्षणिक प्रतिनिधि </h>
<p>अभिमन्यु कर
<br>ईमेल : abhuimanyukar.mech@gmail.com<br>
<br>
  मोबाइल नो. :  91-9231832696</p>
</div>
<br>
<br>
<div class="expand"> 
<h> महा  सचिव - सामाजिक एवं सांस्कृतिक  </h>
<p> श्रेयस महाजन
<br> ईमेल : shreyasm.iitkgp@gmail.com<br>
<br>
   मोबाइल नो. : 91-9691819500</p>
<br>
<h> शशांक सिंघल</h>
 <br>ईमेल : shashanksinghal.iitkgp@gmail.com
</div>
<br>
<br>
<div class="expand"> 
<h> महा  सचिव  -स्पोर्ट्स </h>
<p> अभिषेक नागी
<br> ईमेल : abhishekneg@gmail.com<br>
<br>
  मोबाइल नो. : 91-735549718</p>
<br>
<h>प्रत्यक्ष पाठक </h>
 <br> ईमेल :  pratyakspathak@gmail.com
</div>
<br>
<br>
<div class="expand"> 
<h> महा सचिव - तकनीक  </h>
<p>सायंतन सर्कार
<br> ईमेल : sayantan.sarkar1028@gmail.com<br>
<br>
    मोबाइल नो. : 91-9800043268</p>
<br>
<h>शशि प्रकाश</h>
 <br> ईमेल : shashi1192@gmail.com
 <br>
  मोबाइल नो. : 91-8101433156
</div>
<br>
<br>
<div class="expand"> 
<h> जन संपर्क आधिकारी  </h>
<p>सग्निक चक्रबर्ती 
<br> ईमेल : chakrabortysagnik02@gmail.com<br>
<br>
 मोबाइल नो. :91-8016949492</p>
<br>
<h>शशि प्रकाश</h>
 <br> ईमेल : shashi1192@gmail.com
 <br>
  मोबाइल नो. : 91-8101433156
</div>
<br>
</div>
{% include "awaaz/side.html" %}
