<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/media/css/awaazstyle.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">  
    $(function() {  
    $(".newsticker-jcarousellite").jCarouselLite({  
            vertical: true,  
            visible: 3,  
            auto:1000,  
            speed:2000  
        });  
    });  
    </script> 
<!-- include Cycle plugin -->
<script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.2.74.js"></script>

<!--  initialize the slideshow when the DOM is ready -->
<script type="text/javascript">
$(document).ready(function() {
    $('.slideshow').cycle({
		fx: 'scrollRight' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
	});
});
</script>   
</head>
<body>
<div id="wrapper">
<div id="header">
	<table width="510" align="left" style="border-collapse: collapse"><tr height="30"></tr><tr height="30"><td width="20"></td> <td width="120" align="center" ><a href="/">मुख्य पृष्ठ</a></td><td width="120" align="center"> <a href="/awaaz/news/all">खबरें </a></td><td width="120" align="center"> <a href="/awaaz/yourvoice/">आपकी आवाज़</a></td><td width="120" align="center"> <a href="/awaaz/sponsors/">प्रायोजक</a></td></tr> <tr height="30"><td width="20"><td align="center" style="background-color :	#E0EAFB; border-radius:5px;width:120px;padding:2px;box-shadow: 4px 4px 4px #888888;"><a href="/awaaz/gymkhana/about">जिमखाना</a></td><td width="120" align="center"> <a href="/awaaz/issues/">प्रकाशन</a></td><td width="120" align="center"> <a href="/awaaz/about/">परिचय</a> </td><td width="120" align="center"><a href="/awaaz/contact/">हमें लिखें</a> </td></tr> </table>
</div>
<div id="main">
<div id="content">
<br>
<br>
<table  cellspacing="70">
<tr>
  <td align="center" style="background-color :	#E0EAFB; border-radius:5px;width:120px;padding:2px;box-shadow: 4px 4px 4px #888888;"><a href="/awaaz/gymkhana/about">परिचय</a></td>
  <td><a href="/awaaz/gymkhana/calendar">कैलेंडर</a></td>
  <td><a href="/awaaz/gymkhana/contact">हमें लिखें</a></td>
  <td><a href="/awaaz/gymkhana/postbearers">पदाधिकारी</a></td>
</tr>
</table>
<p><img src="/media/img/gymkhana.JPG" width="150" height="150" align="left" style="padding:5px">
भारतीय प्रौद्योगिकी  संस्थान खड़गपुर में स्थित प्रौद्योगिकी छात्र जिमखाना विभिन्न पाठ्येत्तर एवं सम  पाठ्यविषयी - खेल तथा सामाजिक व् सांस्कृतिक - कार्यों का आयोजन केंद्र है | जिमखाना ने सन १९५२ में अपनी स्थापना से ही छात्रों के दैनिक जीवन में पाठ्येत्तर कार्यों के उत्थान में अहम् भूमिका निभाई | इसका मोटो है - " योग: कर्मेसु कोसलम "  अर्थात कार्य में निपुणता ही योग है | प्रौद्योगिकी छात्र जिमखाना छात्रों के लिए आध्यापको के सक्रिय मार्गदर्शन व अनुभवी सहयोग से छात्रों द्वारा संचालित किया जाता है | 
<br><br>
जिमखाना कार्यालय का कार्य प्राध्यापक मनोनीत अध्यक्ष , छात्र निर्वाचित उपाध्यक्ष , प्रधान सचिव तथा उपसचिव द्वारा संचालित किया जाता है | जिमखाना का अध्यक्ष प्रोफ़ेसर होता है जिसको डायरेक्टर द्वारा मनोनीत किया जाता है | इसके अतिरिक्त उप अध्यक्ष , छ: प्रधान सचिव( खेल , प्रौद्योगिकी , सामाजिक एवं सांस्कृतिक ) तथा सचिव जो विभिन्न प्रधान सचिवों के अंतर्गत कार्य करते हैं | उप- अध्यक्ष , छात्रों के पक्ष में संस्थान की सीनेट में विचार रखता है | वह संस्थान प्रबंधन का अंग होता है | संस्थान में आयोजित होने वाले विभिन्न आयोजनों जैसे - " स्प्रिंग फेस्ट "," क्षितिज ", " शौर्य " आदि का कुशल आयोजन प्रधान सचिवों द्वारा किया जाता है | जिमखाना का कार्य वर्ष भर चलता रहता है | संसथान में आयोजित होने वाली जनरल चैम्पियनशिप जो कि विभिन्न छात्रावासों के मध्य खेली जाती है इसका सफल आयोजन भी जिमखाना ही करता है | यह प्रतियोगिताएँ विभिन्न वर्गों जैसे - खेल, सांस्कृतिक एवं प्रौद्योगिकी में कि जाती है | संसथान द्वारा आयोजित फेस्ट - " क्षितिज, स्प्रिंग फेस्ट तथा शौर्य " का सफल आयोजन भी जिमखाना कि देखरेख में होता है |
</p>
</div>
{% include "awaaz/side.html" %}
